.cart-container{

}
.cart-contents{
  
  
}
.cart-table{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}
.cart-table-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.cart-img{
  width: 100%;
  background-color: rgb(229, 229, 229);
}
