@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

.App{
  font-family: "Kiwi Maru", serif;
}

.web-page{
    justify-content: center;
  /* height: 500vh; */
  margin: 3rem 1rem;
  box-sizing: border-box;


}
.page-title{
  font-size: 3rem;
}

button{
  font-family: "Kiwi Maru", serif;
  cursor: pointer;
 
}
